{% extends 'base.html.twig' %}

{% block title %}
Ajouter un bien
{%endblock%}
{% block body %}
<div class="container mt-4">
    <h2>Ajouter un bien </h2>

    {{ include ('admin/biens/_form.html.twig', {form : form, button: 'Ajouter'}) }}
  
</div>

{% endblock %}